.code_container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background: url('../images/background_menu.jpg') no-repeat fixed center;
  background-size: cover;
  transform: translateY(-100%);
  transition: transform 0.6s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.code_container.show {
  transform: translateY(0);
}

.crose {
  position: absolute;
  top: 60px;
  left: 60px;
  cursor: pointer;
  transition: transform 0.4s ease;
}

.crose:hover {
  transform: scale(1.1);
}

.code_container h2 {
  font-family: var(--title-font);
  color: var(--black);
  font-size: 64px;
  position: relative;
  margin-bottom: 40px;
  text-transform: uppercase;
  text-align: center;
  background: url('../images/background_title.jpg');
  background-attachment: fixed;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  user-select: none;
}

/* Le jeu */
.screen{
	height: 75px;
	width: 225px;
	border-radius: 15px;
	background-color: #111;
	font-size: 50px;
	color: var(--white);
	padding: 0px 15px 0px 15px;
	letter-spacing: 26px;
	font-family: var(--title-font);
  position: relative;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flasher{
	content: "";
	display: block;
	width: 30px;
	height: 5px;
	background-color: var(--white);
	position: absolute;
	top: 75px;
	left: 40px;
	animation: blink 1s linear infinite;
}

.keypad_wrapper{
	position: relative;
	width: 265px;
	height: 415px;
  margin-top: 30px;
  padding: 20px;
  mix-blend-mode: difference;
}

.key{
  font-family: var(--title-font);
  text-transform: uppercase;
	width: 75px;
	height: 75px;
	float: left;
	line-height: 58px;
	text-align: center;
	font-size: 50px;
	cursor: pointer;
	text-shadow: 0px -2px 2px rgba(0,0,0,.5), 0px 1px 2px rgba(255,255,255,.4);
  color: var(--yellow);
  display: flex;
  justify-content: center;
  align-items: center;
}

.key::selection {
  background-color: transparent;
  color: var(--yellow);
}

.key:hover{
	background-color: #4b4b4b;
}

.key:active{
	background-color: #333;
	box-shadow: inset 0px -1px 0px rgba(255,255,255,.2), inset 0px 2px 0px rgba(0,0,0,.5);
	color: var(--white);
	line-height: 62px;
}

.key.last{
	position: relative;
	left: 75px;
}

.notification{
	color: var(--white);
	font-family: var(--main-font);
	text-align: center;
	font-size: 34px;
	position: absolute;
	width: 225px;
	top: 40px;
  display: none;
  text-transform: uppercase;
}

@keyframes blink {
	0%{opacity: 0;}
	50%{opacity: 1;}
	100%{opacity: 0;}
}