/* Menu */
.fish_question_container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background: url('../images/background_menu.jpg') no-repeat fixed center;
  background-size: cover;
  transform: translateY(-100%);
  transition: transform 0.6s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fish_question_container.show {
  transform: translateY(0);
}

.crose {
  position: absolute;
  top: 60px;
  left: 60px;
  cursor: pointer;
  transition: transform 0.4s ease;
}

.crose:hover {
  transform: scale(1.1);
}

.fish_question {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  text-align: center;
}

.fish_question h2 {
  font-family: var(--title-font);
  color: var(--white);
  font-size: 64px;
  position: relative;
  text-transform: uppercase;
  text-align: center;
  background: url('../images/background_title.png');
  background-attachment: fixed;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}

.fish_question p {
  font-family: var(--main-font);
  color: var(--yellow);
  font-size: 24px;
  margin-top: 50px;
}

.fish_question h4 {
  font-family: var(--main-font);
  color: var(--yellow);
  font-size: 28px;
  margin-top: 60px;
}

.fish_question input {
  font-family: var(--main-font);
  color: var(--white);
  font-size: 22px;
  margin-top: 20px;
  padding: 10px;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--yellow);
  width: 300px;
  text-align: center;
  background: none;
}

.fish_question input::placeholder {
  color: var(--white);
}

.fish_question input:hover, .fish_question input:focus {
  border-bottom: 2px solid var(--yellow);
  margin: 20px 0px -1px 0px;
}

.fish_question .input p {
  font-size: 22px;
  margin-top: 10px;
  display: none;
  font-weight: bold;
}