.loader {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  background: url('../images/background_menu.jpg') no-repeat fixed center;
  background-size: cover;
  transform: translateY(0%);
  transition: transform 0.6s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loader.hide {
  transform: translateY(-100%);
}

.loader_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  text-align: center;
}

.loader_container h1 {
  font-family: var(--title-font);
  color: var(--white);
  font-size: 142px;
  position: relative;
  text-transform: uppercase;
  text-align: center;
  background: url('../images/background_title.jpg');
  background-attachment: fixed;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  user-select: none;
}

.loader_container p {
  font-family: var(--main-font);
  color: var(--yellow);
  font-size: 24px;
  margin-top: 80px;
}

.loader_container .start {
  font-family: var(--main-font);
  font-size: 36px;
  padding: 10px 40px;
  border: 2px solid var(--yellow);
  border-radius: 8px;
  transition: 0.4s ease;
  cursor: pointer;
  color: var(--yellow);
  margin-top: 80px;
  text-transform: uppercase;
  display: none;
  background: none;
}

.loader_container .start:hover {
  color: var(--black);
  background: var(--yellow);
  border-color: var(--yellow);
}

.loader .audio {
  margin-top: 10px;
}

.loader .audio i {
  color: var(--yellow);
  font-size: 22px;
  margin-top: 20px;
}

.loader .audio p {
  margin-top: 5px;
  font-size: 18px;
}

/* Loader */
.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: auto;
  margin-top: 30px;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: var(--yellow);
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}