.interaction {
  position: absolute;
  border-radius: 50px;
  background: var(--white);
  z-index: 1;
  cursor: pointer;
  animation: indice 3s infinite;
  filter: blur(5px);
}

@keyframes indice {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
  }
}

.interaction.after_dame {
  display: none;
}

#homme_parapluie {
  top: 32%;
  left: 20.5%;
  width: 2.5%;
  height: 8%;
}

#homme_qui_mange {
  top: 32%;
  left: 23.25%;
  width: 2%;
  height: 10%;
}

#tram {
  top: 27%;
  left: 12.5%;
  width: 4%;
  height: 12%;
}

#homme_poisson {
  top: 39.5%;
  left: 43%;
  width: 2.5%;
  height: 3.5%;
}

#dame_blanche {
  top: 27%;
  left: 60.5%;
  width: 5%;
  height: 22%;
}

#coffre_soldat {
  top: 36.5%;
  left: 69%;
  width: 2%;
  height: 4%;
}