.interaction {
  position: absolute;
  border-radius: 50px;
  background: var(--white);
  z-index: 1;
  cursor: pointer;
  animation: indice 3s infinite;
  filter: blur(5px);
}

@keyframes indice {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
  }
}

@keyframes indice_strong {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 0;
  }
}

.interaction.after_dame {
  display: none;
}

#homme_parapluie {
  top: 32%;
  left: 20.5%;
  width: 2.5%;
  height: 8%;
}

#homme_qui_mange {
  top: 32%;
  left: 23.25%;
  width: 2%;
  height: 10%;
}

#tram {
  top: 27%;
  left: 12.5%;
  width: 4%;
  height: 12%;
}

#homme_poisson {
  top: 39.5%;
  left: 43%;
  width: 2.5%;
  height: 3.5%;
}

#dame_blanche {
  top: 28%;
  left: 61%;
  width: 4%;
  height: 18%;
}

#coffre_soldat {
  top: 36.5%;
  left: 69%;
  width: 2%;
  height: 4%;
}

#carosse {
  top: 31.5%;
  left: 4%;
  width: 3.5%;
  height: 5%;
}

#chien {
  top: 33%;
  left: 31.5%;
  width: 1%;
  height: 1%;
}

#homme_corde {
  top: 31%;
  left: 40.25%;
  width: 1%;
  height: 1.5%;
}

#fouet_cheval {
  top: 32.5%;
  left: 38.25%;
  width: 2.75%;
  height: 3.25%;
}

#homme_porte_planche {
  top: 37.5%;
  left: 32%;
  width: 3%;
  height: 5%;
}

#chevaux {
  top: 30.5%;
  left: 29.5%;
  width: 1.75%;
  height: 2.5%;
}

#nageur {
  top: 39.5%;
  left: 49.75%;
  width: 1%;
  height: 1.75%;
}

#homme_tonneau {
  top: 31.75%;
  left: 42%;
  width: 0.5%;
  height: 1.25%;
}

#homme_riche {
  top: 29%;
  left: 56%;
  width: 4%;
  height: 15%;
}

#femme_enfant {
  top: 30%;
  left: 73.25%;
  width: 3.75%;
  height: 15%;
}

#tableau4 {
  top: 37.5%;
  left: 85%;
  width: 8%;
  height: 6%;
}

#tableau5 {
  top: 70%;
  left: 5%;
  width: 6%;
  height: 10%;
}

#tableau6 {
  top: 54%;
  left: 32%;
  width: 8%;
  height: 11%;
}

#tableau7 {
  top: 81.5%;
  left: 49%;
  width: 7%;
  height: 10%;
}

#tableau8 {
  top: 83%;
  left: 67%;
  width: 8%;
  height: 8%;
  animation: indice_strong 3s infinite;
}