.puzzle_container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background: url('../images/background_menu.jpg') no-repeat fixed center;
  background-size: cover;
  transform: translateY(-100%);
  transition: transform 0.6s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.puzzle_container.show {
  transform: translateY(0);
}

.game_container.success {
  animation: success 1s ease;
  animation-delay: 0.4s;
}

@keyframes success {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.crose {
  position: absolute;
  top: 60px;
  left: 60px;
  cursor: pointer;
  transition: transform 0.4s ease;
}

.crose:hover {
  transform: scale(1.1);
}

.puzzle_container h2 {
  font-family: var(--title-font);
  color: var(--white);
  font-size: 64px;
  position: relative;
  margin-bottom: 40px;
  text-transform: uppercase;
  text-align: center;
  background: url('../images/background_title.jpg');
  background-attachment: fixed;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  user-select: none;
}

/* Doit correspondre à la taille de l'image */
.puzzle_container .game_container {
  width: 568px;
  height: 568px;
}

.puzzle {
  background-image:url('../images/puzzle.png');
  width: 185px;
  height: 185px;
  float: left;
  transition: 0.25s ease;
  cursor: pointer;
}

.piece1 { background-position: 0 0; }
.piece2 { background-position: -185px 0; }
.piece3 { background-position: -370px 0; }
.piece4 { background-position: 0 -185px; }
.piece5 { background-position: -185px -185px; }
.piece6 { background-position: -370px -185px; }
.piece7 { background-position: 0 -370px; }
.piece8 { background-position: -185px -370px; }
.piece9 { background-position: -370px -370px; }
