@import url('https://fonts.googleapis.com/css2?family=Arapey&display=swap');

@font-face {
  font-family: "Black Rose";
  src: url('../fonts/blackrose.ttf') format("truetype");
}

 @font-face {
  font-family: "Type Writter";
  src: url('../fonts/typewritter.ttf') format("truetype");
}

@font-face {
  font-family: "Otto Attack Type";
  src: url('../fonts/ottoattactype.ttf') format("truetype");
}

:root {
  --white: #e4e4e4;
  --black: #222222;
  --beige: #c3b297;
  --yellow: #d18500;
  --title-font: "Otto Attack Type", serif;
  --main-font: "Arapey", serif;
}